<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Defining context files-->
    <context:property-placeholder location="classpath:teamNames.properties"/>


    <!--Defining beans-->
    <bean id="myFortuneService"
          class="com.halx.fortune.HappyFortuneService">
    </bean>

    <!--Be aware that in prototype scope the destroy method is not called because the container instantiates,
     configures, and otherwise assembles a prototype object, and hands it to the client, with no further record
     of that prototype instance.-->
    <bean id="myCoach"
        class="com.halx.coach.BaseballCoach"
        scope="singleton"
        init-method="doStartupStuff"
        destroy-method="doCleanUpStuff">

        <!--Constructor injection-->
        <!--<constructor-arg ref="myFortuneService"/>-->

        <!--Setter injection-->
        <property name="fortuneService" ref="myFortuneService"/>
        <property name="teamName" value="${bird.team}"/>

    </bean>



</beans>